* {
  box-sizing: border-box;
}

body {
  background-color: #141414;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.card {
  background-color: #1f1f1f;
  max-width: 384px;
  width: calc(100% - 48px);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.city{
    color: #c5f82a;
}

.position{
    color: #ffffff;
}

.card h2{
    color: #ffffff;
}

button{
    width: 100%;
    margin-bottom: 16px;
    padding: 14px;
    background-color: #333333;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-family: "Inter";
    cursor: pointer;
}

button:last-child {
  margin-bottom: 0;
}